
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Device &#8212; Zone Manager API 0.1 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/language_data.js"></script>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="device/AstroSensor" href="astro_sensor.html" />
    <link rel="prev" title="Neighbor &amp; NeighborType" href="neighbor.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="module-aaa_modules.layout_model.device">
<span id="device"></span><h1>Device<a class="headerlink" href="#module-aaa_modules.layout_model.device" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="aaa_modules.layout_model.device.Device">
<em class="property">class </em><code class="descclassname">aaa_modules.layout_model.device.</code><code class="descname">Device</code><span class="sig-paren">(</span><em>openhabItem</em><span class="sig-paren">)</span><a class="reference internal" href="../../../_modules/aaa_modules/layout_model/device.html#Device"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#aaa_modules.layout_model.device.Device" title="Permalink to this definition">¶</a></dt>
<dd><p>The base class that all other sensors and switches derive from.</p>
<dl class="method">
<dt id="aaa_modules.layout_model.device.Device.getChannel">
<code class="descname">getChannel</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../../_modules/aaa_modules/layout_model/device.html#Device.getChannel"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#aaa_modules.layout_model.device.Device.getChannel" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the OpenHab channel string linked with the item.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body">str the channel string or None if the item is not linked to</td>
</tr>
</tbody>
</table>
<p>a channel</p>
</dd></dl>

<dl class="method">
<dt id="aaa_modules.layout_model.device.Device.getItem">
<code class="descname">getItem</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../../_modules/aaa_modules/layout_model/device.html#Device.getItem"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#aaa_modules.layout_model.device.Device.getItem" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the backed OpenHab item.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body">org.eclipse.smarthome.core.items.Item</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="aaa_modules.layout_model.device.Device.getItemName">
<code class="descname">getItemName</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../../_modules/aaa_modules/layout_model/device.html#Device.getItemName"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#aaa_modules.layout_model.device.Device.getItemName" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the backed OpenHab item name.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body">str</td>
</tr>
</tbody>
</table>
</dd></dl>

</dd></dl>

</div>


          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="../../../index.html">Zone Manager API</a></h1>








<h3>Navigation</h3>
<p class="caption"><span class="caption-text">APIs</span></p>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../layout.html">Zone Layout API</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="zone_manager.html">ZoneManager</a></li>
<li class="toctree-l2"><a class="reference internal" href="zone.html">Zone</a></li>
<li class="toctree-l2"><a class="reference internal" href="neighbor.html">Neighbor &amp; NeighborType</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Device</a></li>
<li class="toctree-l2"><a class="reference internal" href="astro_sensor.html">device/AstroSensor</a></li>
<li class="toctree-l2"><a class="reference internal" href="dimmer.html">device/Dimmer</a></li>
<li class="toctree-l2"><a class="reference internal" href="illuminance_sensor.html">device/IlluminanceSensor</a></li>
<li class="toctree-l2"><a class="reference internal" href="motion_sensor.html">device/MotionSensor</a></li>
<li class="toctree-l2"><a class="reference internal" href="switch.html">device/Switch</a></li>
<li class="toctree-l2"><a class="reference internal" href="action.html">Action</a></li>
<li class="toctree-l2"><a class="reference internal" href="turn_off_adjacent_zones.html">actions/TurnOffAdjacentZones</a></li>
<li class="toctree-l2"><a class="reference internal" href="turn_on_switch.html">actions/TurnOnSwitch</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../utilities.html">Utilities API</a></li>
</ul>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../../index.html">Documentation overview</a><ul>
  <li><a href="../../layout.html">Zone Layout API</a><ul>
  <li><a href="../modules.html">&lt;no title&gt;</a><ul>
      <li>Previous: <a href="neighbor.html" title="previous chapter">Neighbor &amp; NeighborType</a></li>
      <li>Next: <a href="astro_sensor.html" title="next chapter">device/AstroSensor</a></li>
  </ul></li>
  </ul></li>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>








        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2019, yfaway.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.5</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
      |
      <a href="../../../_sources/APIs/layout/modules/device.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>